Repository xkikeg/okane: changes, and which Codecov flags are due for each by the changed paths.
All: core, CLI, okane-golden

add Criterion.rs Benchmark (cargo) benchmark result for e89f737546b2a54b083a99e7255f9844ca5b46eb
  dev/bench/data.js
Due: none

Canonicalize Windows path on import matching to ensure separator is reverse slash.
  Cargo.lock
  cli/Cargo.toml
  cli/src/import/config.rs
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for b397ca7f30c71cef9c06b6f461bbb39025d9b0ce
  dev/bench/data.js
Due: none

Use dense number index instead of &str wrapper for commodity.
  Cargo.lock
  cli/src/cmd.rs
  core/Cargo.toml
  core/src/intern.rs
  core/src/report/balance.rs
  core/src/report/book_keeping.rs
  core/src/report/commodity.rs
  core/src/report/context.rs
  core/src/report/eval.rs
  core/src/report/eval/amount.rs
  core/src/report/eval/error.rs
  core/src/report/eval/evaluated.rs
  core/src/report/eval/posting_amount.rs
  core/src/report/eval/single_amount.rs
  core/src/report/price_db.rs
  core/src/report/query.rs
Due: core, CLI

Stop using unwrap for Display instance of commodities.
  core/src/report/commodity.rs
  core/src/report/eval/amount.rs
  core/src/report/eval/single_amount.rs
Due: core

add Criterion.rs Benchmark (cargo) benchmark result for b852def624fa97322c89ef557b4178f284931347
  dev/bench/data.js
Due: none

Remove HashMap from PriceDB computing path.
  core/src/report/commodity.rs
  core/src/report/price_db.rs
Due: core

add Criterion.rs Benchmark (cargo) benchmark result for 515e609f6fe526f7a48db82f2788aadd0c15d281
  dev/bench/data.js
Due: none

Use CommodityMap for PriceRepository builder and naive impl.
  core/src/report/book_keeping.rs
  core/src/report/commodity.rs
  core/src/report/price_db.rs
Due: core

Rename InternStore to DirectInternStore.
  core/src/intern.rs
  core/src/report/context.rs
Due: core

Use bumpalo-intern DirectInternStore.
  Cargo.lock
  core/Cargo.toml
  core/src/intern.rs
  core/src/lib.rs
  core/src/report/context.rs
Due: core

add Criterion.rs Benchmark (cargo) benchmark result for 4f17e7064ea9da9132f92613a4bc5acd5250fd81
  dev/bench/data.js
Due: none

Upgraded deps and CHANGELOG.
  CHANGELOG.md
  Cargo.lock
  cli/Cargo.toml
  cli/tests/testing/mod.rs
  core/Cargo.toml
Due: core, CLI

Fixed clippy warnings.
  core/src/report/commodity.rs
  core/src/report/eval/amount.rs
Due: core

Bump version to 0.16.0.
  Cargo.lock
  Cargo.toml
Due: none

Bump cli deps to 0.16.0
  cli/Cargo.toml
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for 2e089445f559808b0e7c31ef612ac1110cd98280
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 0f44de2b20e010aa568cf602c21b606449c168ac
  dev/bench/data.js
Due: none

Added more metadata into --version string.
  Cargo.lock
  cli/Cargo.toml
  cli/build.rs
  cli/src/cmd.rs
  cli/src/lib.rs
Due: CLI

Remove tzdata deps to avoid having edition=2024 requirement.
  cli/Cargo.toml
Due: CLI

Add clippy CI to Github workflow
  .github/workflows/linter.yml
Due: none

Update Circle CI orb version to 1.8.0.
  .circleci/config.yml
Due: none

Fixed all Cargo clippy warnings.
  cli/src/import/extract.rs
  core/src/report/eval/posting_amount.rs
  core/src/report/eval/single_amount.rs
  core/src/report/price_db.rs
Due: core, CLI

add Criterion.rs Benchmark (cargo) benchmark result for d789c934fdfefef689d6a4f69978aa672a381c81
  dev/bench/data.js
Due: none

Add a test case to cover Equity:Adjustments requirement.
  cli/tests/testdata/import/csv_multi_currency.csv
  cli/tests/testdata/import/csv_multi_currency.ledger
Due: CLI

Extract used hardcoded account into constants.
  cli/src/import/single_entry.rs
Due: CLI

Added test case of the Comma 3 dot style.
  cli/tests/testdata/import/csv_multi_currency.ledger
  cli/tests/testdata/import/test_config.yml
Due: CLI

Path conditions:
  core: any of: core/**
  CLI: any of: cli/**
  okane-golden: any of: golden/**
