Repository xkikeg/okane: changes, and which Codecov flags are due for each by the changed paths.
All: core, CLI, okane-golden

codecov.yaml:

comment:
  # add "condensed_" to "header", "files" and "footer"
  # layout: "condensed_header, condensed_files, condensed_footer"
  hide_project_coverage: false

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: crate_okane_core
      name: core
      paths:
        - core/**
    - component_id: crate_okane
      name: CLI
      paths:
        - cli/**
    - component_id: crate_okane_golden
      name: okane-golden
      paths:
        - golden/**

add Criterion.rs Benchmark (cargo) benchmark result for 7d8f2fb5131e448fde48a1f9979afeb582a94d8b
  dev/bench/data.js
Due: none

Fix build of the UI.
  cli/src/ui/event.rs
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for 7b6de2725df7383532a01a8f37f8b6d7bdae0eb2
  dev/bench/data.js
Due: none

Use resolver v3 so `cargo install` respects workspace MSRV.
  Cargo.toml
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 9341163e373db4c288bbc40bba682cc2b499cd10
  dev/bench/data.js
Due: none

Make AccountFilter public with Exact variant and typed Account interface.
  cli/src/cmd.rs
  cli/src/ui/app.rs
  cli/src/ui/event.rs
  cli/src/ui/render.rs
  core/benches/report_bench.rs
  core/src/report/query.rs
Due: core, CLI

Remove Ledger::postings.
  core/benches/report_bench.rs
  core/src/report/query.rs
Due: core

add Criterion.rs Benchmark (cargo) benchmark result for 2dc508ea0147800570f43e569210583dbe061e68
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 2612a1813ee3ba46aa341791a952ab7949cba323
  dev/bench/data.js
Due: none

Use index-based sort instead of cloning entire transaction.
  cli/src/cmd.rs
  core/src/report/book_keeping.rs
  core/src/report/query.rs
Due: core, CLI

add Criterion.rs Benchmark (cargo) benchmark result for f5a3edeae4a496cdf058e1c7fb2c57a0e93e9a4f
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 955cdf0dd0b6d465bca61f40a73643059667f7fb
  dev/bench/data.js
Due: none

Make register/balance account filters accept regex.
  Cargo.lock
  cli/src/cmd.rs
  cli/tests/test_balance.rs
  cli/tests/test_register.rs
  core/Cargo.toml
  core/benches/report_bench.rs
  core/src/report/query.rs
  testdata/report/golden/single_commodity.golden.balance.account_filter_exact.txt
  testdata/report/golden/single_commodity.golden.balance.account_filter_regex.txt
  testdata/report/golden/single_commodity.golden.balance.in_chf_up_to_date_price_db.txt
  testdata/report/golden/single_commodity.golden.register.account_filter.txt
  testdata/report/golden/single_commodity.golden.register.account_filter_exact.txt
  testdata/report/golden/single_commodity.golden.register.account_filter_regex.txt
  testdata/report/golden/single_commodity.golden.register.default.txt
  testdata/report/single_commodity.ledger
Due: core, CLI

Pre-allocate Bump arena for sort-date-cold benchmark.
  core/benches/report_bench.rs
Due: core

add Criterion.rs Benchmark (cargo) benchmark result for 7380d799cf8bd91f49e03e842bbca935edd1d86b
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 999edd426c2675d7cb2f3f88c38670466d53d76f
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 788dbe6f04f693aec724f4cc4baf586b76c52b27
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for ff5c133ac8e4b4fbfcb89edb33f7fdc95e7b359e
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for f18bb282a7b6794f72cff2c84930d97f00d26140
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for f49cf4d34fc4ff7ecaf00bd753160e8c29d692e6
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 5076aed0a933332817c681209f2bbcedbb710c67
  dev/bench/data.js
Due: none

Add Ctrl-n/Ctrl-p navigation to the TUI
  cli/src/ui/event.rs
Due: CLI

Add account search to the TUI balance view
  cli/src/ui/app.rs
  cli/src/ui/event.rs
  cli/src/ui/render.rs
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for 3cc916850e94420cb1dfdcaa68ea9ea1585f4882
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for a7466a00066d5e4a1218c01eba59557ecfb41704
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 644db8f2b1570ca8bb6b1f1a74e77732122242c3
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 18b35aa9497195bd028865168460cae441187ef7
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 7708f6609c7dbbaaf7a98f97ccceaf37470201d5
  dev/bench/data.js
Due: none

Add interactive TUI review to okane import
  Cargo.lock
  cli/Cargo.toml
  cli/src/cmd.rs
  cli/src/import.rs
  cli/src/import/single_entry.rs
  cli/src/ui.rs
  cli/src/ui/review.rs
  cli/src/ui/review/app.rs
  cli/src/ui/review/event.rs
  cli/src/ui/review/render.rs
Due: CLI

okane balance: render a tree-style report with subtotals
  CHANGELOG.md
  cli/src/cmd.rs
  cli/tests/test_balance.rs
  core/src/report.rs
  core/src/report/account_tree.rs
  testdata/report/golden/alias.golden.balance.default.txt
  testdata/report/golden/alias.golden.balance.flat.txt
  testdata/report/golden/alias.golden.balance.in_chf_up_to_date_price_db.txt
  testdata/report/golden/multi_commodity.golden.balance.default.txt
  testdata/report/golden/multi_commodity.golden.balance.flat.txt
  testdata/report/golden/multi_commodity.golden.balance.in_chf_up_to_date_price_db.txt
  testdata/report/golden/multi_commodity.golden.balance.in_jpy_up_to_date.txt
  testdata/report/golden/multi_commodity.golden.balance.in_usd_historical.txt
  testdata/report/golden/single_commodity.golden.balance.account_filter_exact.txt
  testdata/report/golden/single_commodity.golden.balance.account_filter_regex.txt
  testdata/report/golden/single_commodity.golden.balance.default.txt
  testdata/report/golden/single_commodity.golden.balance.flat.txt
  testdata/report/golden/single_commodity.golden.balance.in_chf_up_to_date_price_db.txt
Due: core, CLI

add Criterion.rs Benchmark (cargo) benchmark result for 83972596ac76d68e104ec57266f8863f435a6ee7
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 3f1688c69aa6fc81e50216d649b51c894eebb3f8
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 43ed5e65d1f90dd0616248f521bf0763e2b66b6f
  dev/bench/data.js
Due: none

Add account search to the TUI balance view
  cli/src/ui/app.rs
  cli/src/ui/event.rs
  cli/src/ui/render.rs
  rustfmt.toml
Due: CLI
