Repository xkikeg/okane: changes, and which Codecov flags are due for each by the changed paths.
All: core, CLI, okane-golden

Remove Balance::from_map and make from_iter more consistent with add_amount.
  core/src/report/balance.rs
Due: core

add Criterion.rs Benchmark (cargo) benchmark result for 66e9448e5a3d67e5fa96cf46edc7802c9c0ef9bb
  dev/bench/data.js
Due: none

cli: virtualize the register table for large datasets
  cli/src/ui/report/app.rs
  cli/src/ui/report/event.rs
  cli/src/ui/report/render.rs
  cli/src/ui/table.rs
Due: CLI

cli: add balance/register UI render golden tests
  cli/src/ui/report/render.rs
  testdata/report/ui/alias.balance.txt
  testdata/report/ui/alias.register.txt
  testdata/report/ui/multi_commodity.balance.txt
  testdata/report/ui/multi_commodity.register.txt
  testdata/report/ui/single_commodity.balance.txt
  testdata/report/ui/single_commodity.register.txt
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for be823d277f2f69a2ecaf38ba8d92ad4ad04c25aa
  dev/bench/data.js
Due: none

testdata: add many_commodities report fixture
  core/src/report/price_db.rs
  testdata/report/golden/many_commodities.golden.balance.default.txt
  testdata/report/golden/many_commodities.golden.balance.in_chf_up_to_date_price_db.txt
  testdata/report/golden/many_commodities.golden.register.default.txt
  testdata/report/many_commodities.ledger
  testdata/report/price_db.txt
  testdata/report/ui/many_commodities.balance.txt
  testdata/report/ui/many_commodities.register.txt
Due: core

cli: use hashmap! and indoc! in report UI tests
  cli/src/ui/report.rs
  cli/src/ui/report/app.rs
  cli/src/ui/report/event.rs
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for d1a487a2e513ec4232fae33fe524abd28b97c476
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 32c47388c924502d5bda34a8a1c2f756625b543f
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 03bba204d5089c3ce4937f91c4d5f1f4eafab14e
  dev/bench/data.js
Due: none

[cleanup] Move TableNav tests to table.rs.
  cli/src/ui/report/app.rs
  cli/src/ui/table.rs
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for c7bc27d4060e33acada4f0dfe4b395a7b48124ff
  dev/bench/data.js
Due: none

core: add BalanceTree for hierarchical balances
  .circleci/config.yml
  Cargo.toml
  core/src/report.rs
  core/src/report/account.rs
  core/src/report/balance_tree.rs
  core/src/report/context.rs
  core/src/report/process.rs
  core/src/report/query.rs
Due: core

add Criterion.rs Benchmark (cargo) benchmark result for 524efe52f9c66a08c7eb980067292e8b2f1b5118
  dev/bench/data.js
Due: none

cli: tree view with folding in the balance UI
  CLAUDE.md
  cli/src/ui/report.rs
  cli/src/ui/report/app.rs
  cli/src/ui/report/event.rs
  cli/src/ui/report/render.rs
  testdata/report/ui/alias.balance-tree-all-folded.txt
  testdata/report/ui/alias.balance-tree.txt
  testdata/report/ui/alias.balance.txt
  testdata/report/ui/alias.register-subtree.txt
  testdata/report/ui/many_commodities.balance-tree-all-folded.txt
  testdata/report/ui/many_commodities.balance-tree.txt
  testdata/report/ui/many_commodities.register-subtree.txt
  testdata/report/ui/multi_commodity.balance-tree-all-folded.txt
  testdata/report/ui/multi_commodity.balance-tree.txt
  testdata/report/ui/multi_commodity.register-subtree.txt
  testdata/report/ui/render_error_modal.txt
  testdata/report/ui/render_error_modal_scrolled_to_bottom.txt
  testdata/report/ui/single_commodity.balance-tree-all-folded.txt
  testdata/report/ui/single_commodity.balance-tree.txt
  testdata/report/ui/single_commodity.register-subtree.txt
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for 094fbdaf497fc9ed839d582b585f8aa45f31fdce
  dev/bench/data.js
Due: none

cli: share report UI test helpers via a testing module
  cli/src/ui/report.rs
  cli/src/ui/report/app.rs
  cli/src/ui/report/event.rs
  cli/src/ui/report/render.rs
  cli/src/ui/report/testing.rs
Due: CLI

cli: split report UI app.rs and extract BalanceView
  cli/src/ui/report.rs
  cli/src/ui/report/app.rs
  cli/src/ui/report/balance.rs
  cli/src/ui/report/event.rs
  cli/src/ui/report/overlay.rs
  cli/src/ui/report/register.rs
  cli/src/ui/report/render.rs
  cli/src/ui/report/search.rs
Due: CLI

cli: give RegisterView its own message, update, and key handling
  cli/src/ui/report/app.rs
  cli/src/ui/report/event.rs
  cli/src/ui/report/register.rs
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for 307bcacc9378dcaed4bd12d81c267b1dacc504e0
  dev/bench/data.js
Due: none

cli: give BalanceView its own message, update, and key handling
  cli/src/ui/report/app.rs
  cli/src/ui/report/balance.rs
  cli/src/ui/report/event.rs
  cli/src/ui/report/render.rs
Due: CLI

cli: extract shared table navigation into table.rs
  cli/src/ui/report/app.rs
  cli/src/ui/report/balance.rs
  cli/src/ui/report/event.rs
  cli/src/ui/report/overlay.rs
  cli/src/ui/report/register.rs
  cli/src/ui/report/render.rs
  cli/src/ui/table.rs
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for 2cd5a530cf800083816a0e74b6b485ca10cc3f25
  dev/bench/data.js
Due: none

cli: move Screen out of register.rs into app.rs
  cli/src/ui/report.rs
  cli/src/ui/report/app.rs
  cli/src/ui/report/event.rs
  cli/src/ui/report/register.rs
  cli/src/ui/report/render.rs
Due: CLI

cli: split visible_window into fill_forward and fill_backward
  cli/src/ui/table.rs
Due: CLI

chore: apply cargo fmt
  cli/src/ui/report/testing.rs
  core/src/report/account.rs
  core/src/report/balance_tree.rs
  core/src/report/process.rs
Due: core, CLI

Path conditions:
  core: any of: core/**
  CLI: any of: cli/**
  okane-golden: any of: golden/**
