Repository xkikeg/okane: changes, and which Codecov flags are due for each by the changed paths.
All: core, CLI, okane-golden

release: build with codegen-units = 1
  Cargo.toml
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 82ee90fc3e2ce46954200a4c9528a2177afe4396
  dev/bench/data.js
Due: none

report: inline the small cross-module calls on the register hot loop
  core/src/report/eval.rs
  core/src/report/eval/amount.rs
  core/src/report/query.rs
  core/src/syntax/expr.rs
Due: core

add Criterion.rs Benchmark (cargo) benchmark result for 1efeff976b21dbfb0d162252efdb270e7950489e
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 54aef6079e2ef8f5bff1fc7702b033f8606a243b
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 8a11e7f35f572d11dd6b192b8a8032157b6ef133
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 648d1294bcc209bc30c7741ccac589ce9c4920cf
  dev/bench/data.js
Due: none

ci: discard restored criterion baselines before benching
  .github/workflows/ci.yml
Due: none

ui: draw the report tables one row per amount line
  CHANGELOG.md
  cli/src/ui/import/app.rs
  cli/src/ui/report.rs
  cli/src/ui/report/app.rs
  cli/src/ui/report/balance.rs
  cli/src/ui/report/overlay.rs
  cli/src/ui/report/register.rs
  cli/src/ui/report/render.rs
  cli/src/ui/table.rs
  testdata/report/ui/alias.balance-tree-all-folded.txt
  testdata/report/ui/alias.balance-tree.txt
  testdata/report/ui/alias.balance.txt
  testdata/report/ui/alias.register-subtree.txt
  testdata/report/ui/alias.register.txt
  testdata/report/ui/many_commodities.balance-tree-all-folded.txt
  testdata/report/ui/many_commodities.balance-tree.txt
  testdata/report/ui/many_commodities.balance.txt
  testdata/report/ui/many_commodities.register-subtree.txt
  testdata/report/ui/many_commodities.register.txt
  testdata/report/ui/multi_commodity.balance-tree-all-folded.txt
  testdata/report/ui/multi_commodity.balance-tree.txt
  testdata/report/ui/multi_commodity.balance.txt
  testdata/report/ui/multi_commodity.register-subtree.txt
  testdata/report/ui/multi_commodity.register.txt
  testdata/report/ui/render_error_modal.txt
  testdata/report/ui/render_error_modal_scrolled_to_bottom.txt
  testdata/report/ui/single_commodity.balance-tree-all-folded.txt
  testdata/report/ui/single_commodity.balance-tree.txt
  testdata/report/ui/single_commodity.balance.txt
  testdata/report/ui/single_commodity.register-subtree.txt
  testdata/report/ui/single_commodity.register.txt
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for 7870aae87883e6eb2119a8264dd4144f25317d20
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 3adec98bf8bb04a8b8df0e1ed6671fee91a14183
  dev/bench/data.js
Due: none

ui: show the whole ledger's total at the top of the balance
  CHANGELOG.md
  cli/src/ui/report.rs
  cli/src/ui/report/balance.rs
  cli/src/ui/report/event.rs
  cli/src/ui/report/register.rs
  cli/src/ui/report/render.rs
  testdata/report/ui/alias.balance-tree-all-folded.txt
  testdata/report/ui/alias.balance-tree.txt
  testdata/report/ui/alias.balance.txt
  testdata/report/ui/many_commodities.balance-tree-all-folded.txt
  testdata/report/ui/many_commodities.balance-tree.txt
  testdata/report/ui/many_commodities.balance.txt
  testdata/report/ui/multi_commodity.balance-tree-all-folded.txt
  testdata/report/ui/multi_commodity.balance-tree.txt
  testdata/report/ui/multi_commodity.balance.txt
  testdata/report/ui/single_commodity.balance-tree-all-folded.txt
  testdata/report/ui/single_commodity.balance-tree.txt
  testdata/report/ui/single_commodity.balance.txt
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for 91738726d28f155bc27ce47a0607913bba57bb69
  dev/bench/data.js
Due: none

ui: move the key list into a `?` help popup
  CHANGELOG.md
  cli/src/ui/report.rs
  cli/src/ui/report/app.rs
  cli/src/ui/report/event.rs
  cli/src/ui/report/help.rs
  cli/src/ui/report/overlay.rs
  cli/src/ui/report/render.rs
  testdata/report/ui/alias.balance-tree-all-folded.txt
  testdata/report/ui/alias.balance-tree.txt
  testdata/report/ui/alias.balance.txt
  testdata/report/ui/alias.register-subtree.txt
  testdata/report/ui/alias.register.txt
  testdata/report/ui/many_commodities.balance-tree-all-folded.txt
  testdata/report/ui/many_commodities.balance-tree.txt
  testdata/report/ui/many_commodities.balance.txt
  testdata/report/ui/many_commodities.register-subtree.txt
  testdata/report/ui/many_commodities.register.txt
  testdata/report/ui/multi_commodity.balance-tree-all-folded.txt
  testdata/report/ui/multi_commodity.balance-tree.txt
  testdata/report/ui/multi_commodity.balance.txt
  testdata/report/ui/multi_commodity.register-subtree.txt
  testdata/report/ui/multi_commodity.register.txt
  testdata/report/ui/render_error_modal.txt
  testdata/report/ui/render_error_modal_scrolled_to_bottom.txt
  testdata/report/ui/render_help_balance.txt
  testdata/report/ui/render_help_register.txt
  testdata/report/ui/single_commodity.balance-tree-all-folded.txt
  testdata/report/ui/single_commodity.balance-tree.txt
  testdata/report/ui/single_commodity.balance.txt
  testdata/report/ui/single_commodity.register-subtree.txt
  testdata/report/ui/single_commodity.register.txt
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for 156fcf1e8720ba38bc5a38b1693b44cebd02a3a6
  dev/bench/data.js
Due: none

doc: add asciinema demos for `okane ui` and interactive import
  README.ja.md
  README.md
  doc/demo/README.md
  doc/demo/okane-import.cast
  doc/demo/okane-ui.cast
  doc/demo/record.sh
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 49f955aea6a26ceb245f0f6e3a6af1c25e4949ae
  dev/bench/data.js
Due: none

ui: change the query options from inside the session (`.`)
  CHANGELOG.md
  README.ja.md
  README.md
  cli/src/cmd.rs
  cli/src/ui/report.rs
  cli/src/ui/report/app.rs
  cli/src/ui/report/event.rs
  cli/src/ui/report/form.rs
  cli/src/ui/report/fulfill.rs
  cli/src/ui/report/help.rs
  cli/src/ui/report/options.rs
  cli/src/ui/report/overlay.rs
  cli/src/ui/report/render.rs
  cli/src/ui/report/testing.rs
  testdata/report/ui/render_help_balance.txt
  testdata/report/ui/render_help_register.txt
  testdata/report/ui/render_options_form.txt
  testdata/report/ui/render_options_form_error.txt
Due: CLI

[chore] cargo update.
  Cargo.lock
  deny.toml
Due: none

ci: ship dependency license texts in the release archives
  .github/workflows/linter.yml
  .github/workflows/release.yml
  .gitignore
  CHANGELOG.md
  about.hbs
  about.toml
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 750287593e4d8e0728d11179f45db7378120549b
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 1958006c15f393a067104d38a0e970634708397a
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for bf0860c9ed438d2d9deb32e17357f31210339274
  dev/bench/data.js
Due: none

doc: add English import documentation and refresh the Japanese one
  README.md
  about.toml
  doc/import.ja.md
  doc/import.md
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 01d8ce32706e19ccf7489078fbb118130f76f49b
  dev/bench/data.js
Due: none

release: add 0.21.0 CHANGELOG, bump version
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for 8841018d079e2045ff663d43716483305212bcef
  dev/bench/data.js
Due: none

cli: recursive okane format with --check, driven by a core Emitter
  CHANGELOG.md
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  README.ja.md
  README.md
  cli/Cargo.toml
  cli/src/cmd.rs
  cli/src/format.rs
  cli/src/main.rs
  cli/tests/test_format.rs
  core/src/format.rs
  core/src/load.rs
  core/src/syntax/display.rs
  doc/syntax.md
  testdata/format/golden/check.golden.diff.txt
  testdata/format/golden/main.ledger.golden.format.txt
  testdata/format/golden/main.ledger.golden.primitive-format.txt
  testdata/format/golden/sub_child.ledger.golden.format.txt
  testdata/format/golden/sub_commodities.ledger.golden.format.txt
  testdata/format/main.ledger
  testdata/format/sub/child.ledger
  testdata/format/sub/commodities.ledger
Due: core, CLI

add Criterion.rs Benchmark (cargo) benchmark result for eb0f33a9f39ed28caa5068a15ece41101c940726
  dev/bench/data.js
Due: none

Path conditions:
  core: any of: core/**
  CLI: any of: cli/**
  okane-golden: any of: golden/**
