Repository xkikeg/okane: changes, and which Codecov flags are due for each by the changed paths.
All: core, CLI, okane-golden

codecov.yaml:

comment:
  # add "condensed_" to "header", "files" and "footer"
  # layout: "condensed_header, condensed_files, condensed_footer"
  hide_project_coverage: false

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: crate_okane_core
      name: core
      paths:
        - core/**
    - component_id: crate_okane
      name: CLI
      paths:
        - cli/**
    - component_id: crate_okane_golden
      name: okane-golden
      paths:
        - golden/**

add Criterion.rs Benchmark (cargo) benchmark result for 8f3969fe19a7fc7ecd704916c1c68150a9745f23
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 8ad32aee844f14acd85c9ddfc0939005cbfe6ecf
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for c1f996c52a5aa4f0335114a71c6c148893e2ab91
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for a0609230d57b111fa3301adc3f348b620794886d
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 84bee83614f8d2efcda82cda073c69f6a0a4859f
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 5614d32aa7d67684dfc2f948afdcb891bf72fd28
  dev/bench/data.js
Due: none

Allow account and commodity alias to be duplicated.
  Cargo.lock
  core/Cargo.toml
  core/src/report/account.rs
  core/src/report/commodity.rs
  core/src/report/process.rs
  testdata/report/alias.ledger
Due: core

add Criterion.rs Benchmark (cargo) benchmark result for da59db74c952e392fd9bc33d2321c08de3bd1a81
  dev/bench/data.js
Due: none

Replaces integer method min and max into std::cmp equivalent.
  cli/src/ui/import/render.rs
  cli/src/ui/table.rs
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for a4649fdc1d7a5f87472a98ff34c0dd4720d9a0d7
  dev/bench/data.js
Due: none

Add reload (r / F5) to the balance/register TUI
  cli/src/cmd.rs
  cli/src/ui/report.rs
  cli/src/ui/report/app.rs
  cli/src/ui/report/event.rs
  cli/src/ui/report/render.rs
  core/src/load.rs
  core/src/report/query.rs
  testdata/report/ui/render_error_modal.txt
  testdata/report/ui/render_error_modal_scrolled_to_bottom.txt
Due: core, CLI

add Criterion.rs Benchmark (cargo) benchmark result for 5496ead8a695bc885930303597abb84fdef70fdc
  dev/bench/data.js
Due: none

Fix CSV charge handling when no currency conversion is present
  cli/src/import.rs
  cli/src/import/csv.rs
  cli/src/import/single_entry.rs
  testdata/import/index_amount.csv
  testdata/import/index_amount.ledger
  testdata/import/test_config.yml
Due: CLI

Make the charge/commission destination account configurable (closes #287)
  cli/src/import.rs
  cli/src/import/config.rs
  cli/src/import/csv.rs
  cli/src/import/single_entry.rs
  testdata/import/csv_template.ledger
  testdata/import/test_config.yml
Due: CLI

cli: enable colors for the reload error modal
  CHANGELOG.md
  Cargo.lock
  cli/Cargo.toml
  cli/src/cmd.rs
  cli/src/ui/report.rs
  cli/src/ui/report/render.rs
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for 0c66cce91b2a4e126b900fc226155602e98fb341
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 3b3bff107c018d1f87a8642581f6b7eb62f2d6c7
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for d1e5ab946ece4d74ef89ebeb3ae7fe9df313a318
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 9d89fcb319e5644c6978fcc12022f06ca97898f3
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 15862f0796b61498432f1ad81906d5cd71b4e1d3
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for f2f8172ded27c720fe492f101840548d0de3d900
  dev/bench/data.js
Due: none

[chore] Cargo update.
  Cargo.lock
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 3a6668f43c6a890a75b57403e24c123614d7d54e
  dev/bench/data.js
Due: none

[chore]: Update query unit test Ledger content.
  core/src/report/query.rs
Due: core

core: add AccountFilter::descendants_of factory
  core/src/report/query.rs
Due: core

add Criterion.rs Benchmark (cargo) benchmark result for a07858ca0462b583430ca228beb53a1232bd936b
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 77b7cc59328dc68b0326efc0c5a49058b0dc27b5
  dev/bench/data.js
Due: none

cli: tree view with folding in the balance UI
  cli/src/ui/report.rs
  cli/src/ui/report/app.rs
  cli/src/ui/report/event.rs
  cli/src/ui/report/render.rs
  testdata/report/ui/render_error_modal.txt
  testdata/report/ui/render_error_modal_scrolled_to_bottom.txt
Due: CLI

core: add BalanceTree for hierarchical balances
  .circleci/config.yml
  Cargo.toml
  core/src/report.rs
  core/src/report/account.rs
  core/src/report/balance_tree.rs
  core/src/report/context.rs
  core/src/report/process.rs
  core/src/report/query.rs
Due: core

Remove Balance::from_map and make from_iter more consistent with add_amount.
  core/src/report/balance.rs
Due: core

cli: virtualize the register table for large datasets
  cli/src/ui/report/app.rs
  cli/src/ui/report/event.rs
  cli/src/ui/report/render.rs
  cli/src/ui/table.rs
Due: CLI
