Repository xkikeg/okane: changes, and which Codecov flags are due for each by the changed paths.
All: core, CLI, okane-golden

codecov.yaml:

comment:
  # add "condensed_" to "header", "files" and "footer"
  # layout: "condensed_header, condensed_files, condensed_footer"
  hide_project_coverage: false

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: module_core
      name: core
      paths:
        - core/**
    - component_id: module_cli
      name: CLI
      paths:
        - cli/**
    - component_id: module_golden
      name: okane-golden
      paths:
        - golden/**

add Criterion.rs Benchmark (cargo) benchmark result for d3c091d89fface0a49d682084e481887bbfee504
  dev/bench/data.js
Due: none

Add codecov config to itemize modules.
  codecov.yaml
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 699cb8f4724a6c62139c76646dc6f51bca87a0b7
  dev/bench/data.js
Due: none

Renamed coverage module.
  codecov.yaml
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 0df7d7e897b6dae2776affeb8ea613f22f55b3b3
  dev/bench/data.js
Due: none

Refactoring: Separate import::csv module into sub modules.
  cli/src/import/csv.rs
  cli/src/import/csv/field.rs
  cli/src/import/csv/matcher.rs
  cli/src/import/csv/utility.rs
Due: CLI

Renamed a few classes.
  cli/src/import/csv/field.rs
  cli/src/import/template.rs
Due: CLI

Add log::info
  cli/src/import/csv.rs
Due: CLI

Fixed all Clippy warnings.
  cli/src/import/config/commodity.rs
  cli/src/import/csv.rs
  cli/tests/test_import.rs
  core/benches/testing/mod.rs
Due: core, CLI

Add unit tests to CSV modules.
  cli/src/import/config.rs
  cli/src/import/csv.rs
  cli/src/import/csv/matcher.rs
  cli/src/import/csv/utility.rs
  cli/src/import/single_entry.rs
Due: CLI

Refactoring: Separate import::csv module into sub modules. (#264)
  cli/src/import/config.rs
  cli/src/import/config/commodity.rs
  cli/src/import/csv.rs
  cli/src/import/csv/field.rs
  cli/src/import/csv/matcher.rs
  cli/src/import/csv/utility.rs
  cli/src/import/single_entry.rs
  cli/src/import/template.rs
  cli/tests/test_import.rs
  core/benches/testing/mod.rs
Due: core, CLI

add Criterion.rs Benchmark (cargo) benchmark result for cf0c460122a276e5489bb4808106042936c68dea
  dev/bench/data.js
Due: none

Use one-based crate instead of self defined OneBasedIndex.
  Cargo.lock
  cli/Cargo.toml
  cli/src/import/config.rs
  cli/src/import/config/format.rs
  cli/src/import/csv.rs
  cli/src/import/csv/field.rs
  cli/src/import/template.rs
  cli/src/lib.rs
  cli/src/one_based.rs
  cli/src/one_based_macro.rs
Due: CLI

Fix all Clippy warnings.
  cli/src/import/config/format.rs
  cli/src/import/csv/matcher.rs
  cli/src/one_based_macro.rs
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for a3ddf668d46205893f0b704f41982bd974cf9196
  dev/bench/data.js
Due: none

Update dependencies.
  Cargo.lock
  Cargo.toml
  core/Cargo.toml
Due: core

add Criterion.rs Benchmark (cargo) benchmark result for b4434a09db1afbac06721ae75cac5bc69d30a478
  dev/bench/data.js
Due: none

Support code column for CSV input.
  cli/src/import/config/format.rs
  cli/src/import/csv.rs
  cli/src/import/iso_camt053.rs
  cli/src/import/single_entry.rs
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for 546f3d6a39d6ec30386167eb2141c288388dc27c
  dev/bench/data.js
Due: none

Add explicit lifetime in the type path, and use consistent lifetime.
  cli/src/import/single_entry.rs
  core/src/parse.rs
  core/src/report/book_keeping.rs
Due: core, CLI

Use dunce canonicalization instead of std::fs.
  Cargo.lock
  core/Cargo.toml
  core/src/load.rs
Due: core

add Criterion.rs Benchmark (cargo) benchmark result for 1bb3018a6f047ff1b197bf2136eca2a949da0c1f
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 4454ba680a52bdc8880b5486bf77fcd61754dd79
  dev/bench/data.js
Due: none

Upgrade annotate-snippets + other dependencies.
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  core/Cargo.toml
  core/src/parse/error.rs
  core/src/parse/posting.rs
  core/src/report/book_keeping.rs
  core/src/report/error.rs
  golden/Cargo.toml
  testdata/error/imbalance_deduced_from_balance.ledger.error.txt
  testdata/error/imbalance_posting_amount.ledger.error.txt
  testdata/error/same_commodity_cost.ledger.error.txt
  testdata/error/undeducible.ledger
  testdata/error/undeducible.ledger.error.txt
Due: core, CLI, okane-golden

add Criterion.rs Benchmark (cargo) benchmark result for 511ed9b28d5ba8ec4dbb8317fa9fa27d4554886e
  dev/bench/data.js
Due: none

Move intern package from report to crate root.
  core/src/intern.rs
  core/src/lib.rs
  core/src/report.rs
  core/src/report/book_keeping.rs
  core/src/report/commodity.rs
  core/src/report/context.rs
Due: core

Allow defining alias of alias.
  cli/tests/test_balance.rs
  core/src/intern.rs
  core/src/report/book_keeping.rs
  core/src/report/commodity.rs
  testdata/report/alias.ledger
  testdata/report/golden/alias.golden.balance.default.txt
Due: core, CLI

add Criterion.rs Benchmark (cargo) benchmark result for a33c2d7f1d4855ce7d66bdf60a358a95a714f103
  dev/bench/data.js
Due: none

Upgrade dependencies.
  .circleci/config.yml
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  cli/tests/test_import.rs
  core/Cargo.toml
  core/src/parse/error.rs
  core/src/syntax/display.rs
  golden/Cargo.toml
Due: core, CLI, okane-golden
