Repository xkikeg/okane: changes, and which Codecov flags are due for each by the changed paths.
All: core, CLI, okane-golden

Use load::FileSystem for loading price DB.
  core/src/load.rs
  core/src/report/book_keeping.rs
  core/src/report/price_db.rs
Due: core

add Criterion.rs Benchmark (cargo) benchmark result for 83bb5b5dca5723766a32941d33414a0cd247116f
  dev/bench/data.js
Due: none

Add benchmark with Price DB.
  core/benches/report_bench.rs
  core/benches/testing/mod.rs
Due: core

add Criterion.rs Benchmark (cargo) benchmark result for 1cb388317162599e99b9dcbd86b7d170ea242629
  dev/bench/data.js
Due: none

Updated GitHub workflow to use v5 checkout.
  .github/workflows/ci.yml
  .github/workflows/linter.yml
Due: none

Added deny: warnings to surface Clippy warnings as an error.
  .github/workflows/linter.yml
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for cc4a10bf0372eaf6ba1444d7a01749f435a902ff
  dev/bench/data.js
Due: none

Run cargo clippy --fix.
  cli/src/import/csv.rs
  cli/src/import/iso_camt053.rs
  cli/src/import/single_entry.rs
  core/benches/report_bench.rs
  core/benches/testing/mod.rs
  core/src/report/price_db.rs
Due: core, CLI

add Criterion.rs Benchmark (cargo) benchmark result for 4dfd7c8fb6c44a1cd8022942700c78f8a0148854
  dev/bench/data.js
Due: none

Run cargo fmt.
  cli/src/import/csv.rs
  cli/src/import/iso_camt053.rs
  cli/src/import/single_entry.rs
  core/benches/decimal_bench.rs
  core/benches/report_bench.rs
  core/benches/testing/mod.rs
  core/src/format.rs
  core/src/parse.rs
  core/src/parse/adaptor.rs
  core/src/parse/character.rs
  core/src/parse/combinator.rs
  core/src/parse/directive.rs
  core/src/parse/error.rs
  core/src/parse/expr.rs
  core/src/parse/metadata.rs
  core/src/parse/posting.rs
  core/src/parse/price.rs
  core/src/parse/primitive.rs
  core/src/parse/testing.rs
  core/src/parse/transaction.rs
  core/src/report.rs
  core/src/report/balance.rs
  core/src/report/book_keeping.rs
  core/src/report/eval/amount.rs
  core/src/report/eval/evaluated.rs
  core/src/report/eval/single_amount.rs
  core/src/report/price_db.rs
Due: core, CLI

add Criterion.rs Benchmark (cargo) benchmark result for b6952bdd54a6fa299d5cd037108bedaf01288b06
  dev/bench/data.js
Due: none

Flip the commodity for the original rate.
  cli/src/import/single_entry.rs
  testdata/import/csv_multi_currency.ledger
  testdata/import/viseca.ledger
Due: CLI

Added release workflow
  .github/workflows/release.yml
Due: none

Update CHANGELOG and dependencies.
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for e14a04463b92ca369078533eb8a441732f4089e5
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 286cc32c7deee27653add0da7ef5880fe4e70971
  dev/bench/data.js
Due: none

Fixed release GitHub workflow.
  .github/workflows/release.yml
Due: none

Bump version to 0.19.0.
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for ca7aacdc3fbd6f3ab5b5d39f5b6e9b399ad08f7a
  dev/bench/data.js
Due: none

Create staging dir before cp.
  .github/workflows/release.yml
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for e03e3a029b7c05ad9f672e974889653f3df8da2d
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 2dd71fae2013cfecaeb568e7e9c203ced26dcdf7
  dev/bench/data.js
Due: none

Fix built file upload args.
  .github/workflows/release.yml
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 42759c0ce63bf446cb4cc7508239de5df68b60db
  dev/bench/data.js
Due: none

Correct build tag name passed to released artifact.
  .github/workflows/release.yml
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 1d55a463ae5b61d0d4953be98b14bb4bce4eb387
  dev/bench/data.js
Due: none

Update README given now cargo binstall supported.
  README.ja.md
  README.md
Due: none

Path conditions:
  core: any of: core/**
  CLI: any of: cli/**
  okane-golden: any of: golden/**
