Repository xkikeg/okane: changes, and which Codecov flags are due for each by the changed paths.
All: core, CLI, okane-golden

Add commodity matcher, which is natural extension to secondary_commodity.
  cli/src/import/csv.rs
  cli/src/import/csv/record.rs
  cli/src/import/extract.rs
  cli/src/import/iso_camt053.rs
  cli/src/import/viseca.rs
  cli/src/import/viseca/format.rs
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for 0bdcf5835b9b0148c4227304063ee326fe1bb1aa
  dev/bench/data.js
Due: none

WIP: Change csv to tsv
  testdata/import/csv_multi_currency.tsv
Due: none

Fixup: Add commodity matcher field.
  cli/src/import/config/rewrite.rs
  cli/src/import/extract.rs
  cli/src/import/extract/filter.rs
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for a6a931913b5cdc7ff825cfea17f61f5b6f41b294
  dev/bench/data.js
Due: none

Added CSV line excersing fee.
  testdata/import/csv_template.csv
  testdata/import/csv_template.ledger
Due: none

Add hidden_fee feature: guess original rate and put commissions.
  cli/src/cmd.rs
  cli/src/import/config.rs
  cli/src/import/config/commodity.rs
  cli/src/import/config/rewrite.rs
  cli/src/import/csv.rs
  cli/src/import/extract.rs
  cli/src/import/extract/filter.rs
  cli/src/import/iso_camt053.rs
  cli/src/import/single_entry.rs
  cli/src/import/viseca.rs
  testdata/import/csv_multi_currency.ledger
  testdata/import/test_config.yml
  testdata/import/viseca.ledger
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for 34a971e990a3232d1ebbf32def6aa8ac1e3c6fae
  dev/bench/data.js
Due: none

Fixed all clippy warnings, also added Commodity::is_empty.
  cli/src/import/amount.rs
  cli/src/import/csv.rs
  cli/src/import/extract.rs
  cli/src/import/iso_camt053.rs
  cli/src/import/single_entry.rs
  cli/src/import/viseca.rs
  cli/src/import/viseca/format.rs
  core/src/report/commodity.rs
Due: core, CLI

Refactored single_entry to handle hidden fee better.
  cli/src/import/csv.rs
  cli/src/import/iso_camt053.rs
  cli/src/import/single_entry.rs
  cli/src/import/viseca.rs
  testdata/import/csv_multi_currency.ledger
  testdata/import/iso_camt.ledger
  testdata/import/viseca.ledger
Due: CLI

Change add_rate argument to be more error-proof.
  cli/src/import/csv.rs
  cli/src/import/iso_camt053.rs
  cli/src/import/single_entry.rs
  cli/src/import/viseca.rs
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for 54727ca7c742c60717c5dc99eba0523b1fbd528e
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 990d85dda5c590b415115f9bacab42e691a0b9ac
  dev/bench/data.js
Due: none

Release 0.17.0 (also golden 0.2.0)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  core/Cargo.toml
  golden/CHANGELOG.md
  golden/Cargo.toml
Due: core, CLI, okane-golden

add Criterion.rs Benchmark (cargo) benchmark result for cdcc97b3e31048a4f182b2f7ddd93a7eb87d05c7
  dev/bench/data.js
Due: none

Fixed a clippy warning.
  cli/src/import/extract.rs
Due: CLI

Updated edition to 2024.
  .circleci/config.yml
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  core/Cargo.toml
  golden/Cargo.toml
Due: core, CLI, okane-golden

add Criterion.rs Benchmark (cargo) benchmark result for 6ee03552f5e0e4b51de91f374238022b9cc64698
  dev/bench/data.js
Due: none

Added more metadata into --version string.
  Cargo.lock
  cli/Cargo.toml
  cli/build.rs
  cli/src/cmd.rs
  cli/src/lib.rs
Due: CLI

Added 2 PRs into CHANGELOG.
  CHANGELOG.md
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 571eac80c28a9ad87584266d200f1bea26274700
  dev/bench/data.js
Due: none

Implemented --current option to balance conversion.
  cli/src/bin/okane.rs
  cli/src/cmd.rs
Due: CLI

Renamed UpToDate conversion strategy field to today.
  cli/src/cmd.rs
  core/benches/report_bench.rs
  core/src/report/query.rs
Due: core, CLI

add Criterion.rs Benchmark (cargo) benchmark result for 9c9c83b85c06376a56c5199f457dfdca0ca04a13
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 79627633696b159d7d5ae508c8d0c2c30c507397
  dev/bench/data.js
Due: none

Added error cases for invalid amount expressions.
  testdata/error/complex_posting.ledger
  testdata/error/complex_posting.ledger.error.txt
  testdata/error/divide_by_zero_rate.ledger
  testdata/error/divide_by_zero_rate.ledger.error.txt
  testdata/error/unmatching_op_rate.ledger
  testdata/error/unmatching_op_rate.ledger.error.txt
Due: none

Path conditions:
  core: any of: core/**
  CLI: any of: cli/**
  okane-golden: any of: golden/**
