Repository xkikeg/okane: changes, and which Codecov flags are due for each by the changed paths.
All: core, CLI, okane-golden

add Criterion.rs Benchmark (cargo) benchmark result for 82c6ce3b4f1b28bf59ef3bf4fc64793343f3ee86
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 8cdbae198ccbc4a14ccb6710fca3aab9a9d8a996
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 03291beaedd7b4147fecf9a86559900719ca7dce
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 9ea877d17a1453a16fe101cc61f4a4f8e9c6f8ef
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for a3463d0aa4341c572a9c42a1b3abb45b060c0596
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 4da0fd20477fa2ac770e2e3a110ddeb380796fd4
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 89c0b75a3854ee6e8f393a71db31716c592b5641
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 73d44cb05d94ed8b6a65ca0fa5c9f267c015ec6b
  dev/bench/data.js
Due: none

Added CLAUDE.md for future reference.
  CLAUDE.md
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 52f5d2e3a360394ec117e897356c58e47d7a7f08
  dev/bench/data.js
Due: none

Add register integration tests with golden output.
  cli/tests/test_register.rs
  testdata/report/golden/alias.golden.register.default.txt
  testdata/report/golden/multi_commodity.golden.register.default.txt
  testdata/report/golden/multi_commodity.golden.register.in_usd_historical.txt
  testdata/report/golden/single_commodity.golden.register.account_filter.txt
  testdata/report/golden/single_commodity.golden.register.date_range.txt
  testdata/report/golden/single_commodity.golden.register.default.txt
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for 4a45165f1a57369e4cc257a3c73e0ea33ccbeb24
  dev/bench/data.js
Due: none

Update dependencies.
  Cargo.lock
Due: none

Add core-native register iterator with running total. Fixes #314.
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  cli/src/cmd.rs
  core/Cargo.toml
  core/benches/report_bench.rs
  core/src/report.rs
  core/src/report/balance.rs
  core/src/report/book_keeping.rs
  core/src/report/query.rs
  core/src/report/transaction.rs
  testdata/report/golden/alias.golden.register.default.txt
  testdata/report/golden/multi_commodity.golden.register.default.txt
  testdata/report/golden/multi_commodity.golden.register.in_usd_historical.txt
  testdata/report/golden/single_commodity.golden.register.account_filter.txt
  testdata/report/golden/single_commodity.golden.register.date_range.txt
  testdata/report/golden/single_commodity.golden.register.default.txt
Due: core, CLI

add Criterion.rs Benchmark (cargo) benchmark result for 21ac01457784e677a3454a69aed2df721236918f
  dev/bench/data.js
Due: none

Reduces copy of current posting amount if no conversion needed.
  core/src/report/query.rs
Due: core

add Criterion.rs Benchmark (cargo) benchmark result for e9119fdeb06b03c789c3bb7af4e76ebb7d254ed2
  dev/bench/data.js
Due: none

Add AddAssign<&Amount> and SubAssign<&Amount> to avoid clone on assign
  core/src/report/eval/amount.rs
  core/src/report/eval/evaluated.rs
  core/src/report/query.rs
Due: core

add Criterion.rs Benchmark (cargo) benchmark result for 1e628d395d7b01774e64180e5fbfc0d46072e8d2
  dev/bench/data.js
Due: none

Add `okane ui` TUI subcommand with scrollable balance table.
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  cli/src/cmd.rs
  cli/src/import/config.rs
  cli/src/main.rs
  cli/src/ui.rs
  cli/src/ui/app.rs
  cli/src/ui/event.rs
  cli/src/ui/render.rs
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for 0114e55b31c490c0f17de6ab0f4201056083cd17
  dev/bench/data.js
Due: none

Use anyhow for the CLI catch-all error instead of `cmd::Error`. Fixes #310.
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  cli/src/cmd.rs
  cli/src/format.rs
  cli/src/import/error.rs
  cli/src/main.rs
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for 3e4e3af830160d87904a441a8fdc1b54f6afda38
  dev/bench/data.js
Due: none

Add register drill-down and quit confirmation to `okane ui`.
  cli/src/cmd.rs
  cli/src/ui.rs
  cli/src/ui/app.rs
  cli/src/ui/event.rs
  cli/src/ui/render.rs
Due: CLI

Pick date-range bench windows from each dataset's actual span.
  core/benches/report_bench.rs
  core/benches/testing/mod.rs
Due: core

add Criterion.rs Benchmark (cargo) benchmark result for 602528d5dbe379f8e5277eae4548cf55fd4f37e5
  dev/bench/data.js
Due: none

Add `register --sort` (clone+struct TxnIter variant of #428).
  cli/src/cmd.rs
  core/benches/report_bench.rs
  core/src/report.rs
  core/src/report/book_keeping.rs
  core/src/report/query.rs
Due: core, CLI

Fix build of the UI.
  cli/src/ui/event.rs
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for 1bf5dce3c35d5f113897b92cef4dc317f10d5f25
  dev/bench/data.js
Due: none

Path conditions:
  core: any of: core/**
  CLI: any of: cli/**
  okane-golden: any of: golden/**
