Repository xkikeg/okane: changes, and which Codecov flags are due for each by the changed paths.
All: core, CLI, okane-golden

codecov.yaml:

comment:
  # add "condensed_" to "header", "files" and "footer"
  # layout: "condensed_header, condensed_files, condensed_footer"
  hide_project_coverage: false

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: crate_okane_core
      name: core
      paths:
        - core/**
    - component_id: crate_okane
      name: CLI
      paths:
        - cli/**
    - component_id: crate_okane_golden
      name: okane-golden
      paths:
        - golden/**

Add account search to the TUI balance view
  cli/src/ui/app.rs
  cli/src/ui/event.rs
  cli/src/ui/render.rs
  rustfmt.toml
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for ebde20bc0b47b12f418d2012924aae406aba4486
  dev/bench/data.js
Due: none

Handle account alias properly in accounts command.
  core/src/report.rs
  core/src/report/book_keeping.rs
  core/src/report/process.rs
Due: core

add Criterion.rs Benchmark (cargo) benchmark result for abcc77eafcf6c8a01d1186d90e4e23be538e7bd1
  dev/bench/data.js
Due: none

Add interactive TUI review to okane import
  Cargo.lock
  cli/Cargo.toml
  cli/src/cmd.rs
  cli/src/import.rs
  cli/src/import/single_entry.rs
  cli/src/ui.rs
  cli/src/ui/import.rs
  cli/src/ui/import/app.rs
  cli/src/ui/import/event.rs
  cli/src/ui/import/render.rs
  testdata/import/ui/render_abort_confirm_overlay.txt
  testdata/import/ui/render_initial_state.txt
  testdata/import/ui/render_prompt_empty_input.txt
  testdata/import/ui/render_prompt_filtered.txt
  testdata/import/ui/render_write_confirm_overlay.txt
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for 43689282379f01ca56a624c3ab26f2b9759d2ce8
  dev/bench/data.js
Due: none

Reorganize ui module into report/ and import/ sub-modules
  cli/src/cmd.rs
  cli/src/ui.rs
  cli/src/ui/import/app.rs
  cli/src/ui/import/event.rs
  cli/src/ui/keys.rs
  cli/src/ui/report.rs
  cli/src/ui/report/app.rs
  cli/src/ui/report/event.rs
  cli/src/ui/report/render.rs
  cli/src/ui/table.rs
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for 06bacb2820a193714936ca1ec298001c51d1c817
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 07a09ac107ee7a1344c20985043e1c5d03832e9d
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for a6c1f50d5bccc259520217e5964e80678154449e
  dev/bench/data.js
Due: none

Added 0.20 CHANGELOG, bump version.
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for f420ef846c2e8411e91e32c7f1023a345fe88a94
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 88fb5e01aef5c0225081822b04cbeb9236d2bd92
  dev/bench/data.js
Due: none

Ran cargo update mainly for anyhow.
  Cargo.lock
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for b7a63ac7c3fda940a18ae7ef96264afc965268cd
  dev/bench/data.js
Due: none

Run `cargo fmt`, corrected report mod doc.
  cli/src/cmd.rs
  cli/src/ui.rs
  cli/src/ui/import/render.rs
  core/benches/decimal_bench.rs
  core/benches/report_bench.rs
  core/src/report.rs
  core/src/report/balance.rs
  core/src/report/book_keeping.rs
  core/src/report/eval/amount.rs
  core/src/report/eval/evaluated.rs
Due: core, CLI

Pre-allocate bumpalo arena for sort-date-warm.
  core/benches/report_bench.rs
Due: core

add Criterion.rs Benchmark (cargo) benchmark result for 7cb4e031f5e980b4b9f5ec9a27e0c4b7cc54e530
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 750423d3a86c6346f2544e92288971cab272c25f
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 16d68f71d9cf300d0028823fe45ede2d5f398b85
  dev/bench/data.js
Due: none

Remove unused bench result.
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 5eb2c164d2f0467b1943188ee40044a7995f177a
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 43727625511c003e4c7832c3208343c6319c0e82
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 8b409078619d17d99904c57cdb5d699f49205393
  dev/bench/data.js
Due: none

Ran cargo update.
  Cargo.lock
Due: none

Applied cargo clippy fix.
  core/src/report/eval/amount.rs
Due: core

add Criterion.rs Benchmark (cargo) benchmark result for 689e52690c9c5baaff4c40e5b7b68be516dbef3e
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 6be9719824cfab5bc6b973f656e4f0cf1a413d4c
  dev/bench/data.js
Due: none

Move Account/AccountStore into report/account.rs
  core/src/report.rs
  core/src/report/account.rs
  core/src/report/balance.rs
  core/src/report/commodity.rs
  core/src/report/context.rs
  core/src/report/query.rs
  core/src/report/transaction.rs
Due: core
