Repository xkikeg/okane: changes, and which Codecov flags are due for each by the changed paths.
All: core, CLI, okane-golden

Added into_map / from_map to convert to/from HashMap.
  core/src/report/balance.rs
Due: core

add Criterion.rs Benchmark (cargo) benchmark result for aef190a0a152726cb8a40ad3de59d0332aee8e24
  dev/bench/data.js
Due: none

Renamed Amount::from_values into from_iter, and from_values to accept BTreeMap.
  core/src/report/balance.rs
  core/src/report/book_keeping.rs
  core/src/report/eval/amount.rs
  core/src/report/eval/evaluated.rs
  core/src/report/query.rs
Due: core

Releases version 0.18.0.
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for 06a921d5f3faddbf408ec2ad55ef33fac8e3a639
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 7495c5fc08d178ec5ea33f40b8c784015ec1f6ce
  dev/bench/data.js
Due: none

Allow comments to be included in price-db.
  core/src/parse/price.rs
Due: core

add Criterion.rs Benchmark (cargo) benchmark result for 60f2353c02f9066f2abd487864e1ab32b2aedc9a
  dev/bench/data.js
Due: none

Added integration test using price_db.
  cli/tests/test_balance.rs
  testdata/report/golden/alias.golden.balance.in_chf_up_to_date_price_db.txt
  testdata/report/golden/multi_commodity.golden.balance.in_chf_up_to_date_price_db.txt
  testdata/report/golden/single_commodity.golden.balance.in_chf_up_to_date_price_db.txt
  testdata/report/price_db.txt
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for ddd14f960acc3e8412da89fe468deb385df9c063
  dev/bench/data.js
Due: none

refact: Remove unnecessary map_err on book_keeping.
  core/src/parse/error.rs
  core/src/report/book_keeping.rs
Due: core

add Criterion.rs Benchmark (cargo) benchmark result for 817a40a967b4dfbbeb0d9522d7b478bc3a9ccd7d
  dev/bench/data.js
Due: none

Added price-db test for loading DB file.
  core/src/report/book_keeping.rs
  core/src/report/price_db.rs
Due: core

add Criterion.rs Benchmark (cargo) benchmark result for aa586e6c21c9ad2d4afa2022d48cea7eea6123f1
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 8a7ec628b7fc6d5896bd981c7bfce52086bdedcd
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 82a453ec7c91d9cbcb631c132cb71027c5a42f4c
  dev/bench/data.js
Due: none

Add documentation to eval module.
  core/src/report/eval.rs
  core/src/report/eval/evaluated.rs
Due: core

add Criterion.rs Benchmark (cargo) benchmark result for 76fa084e64dc63f823ddf7dbab1ce072941287e3
  dev/bench/data.js
Due: none

Use CommodityMap<BTreeMap<>> instead of HashMap for cache.
  core/src/report/book_keeping.rs
  core/src/report/price_db.rs
Due: core

Upgrade Rust version to 1.88 with latest dependencies.
  .circleci/config.yml
  Cargo.lock
  Cargo.toml
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 2b88114df5ff4551803b363b3b2adbdbc716c366
  dev/bench/data.js
Due: none

Remove okane-golden.
  .github/workflows/ci.yml
  codecov.yaml
  golden/CHANGELOG.md
  golden/Cargo.toml
  golden/README.md
  golden/src/lib.rs
  golden/testdata/mukai.txt
  golden/tests/test_golden.rs
Due: okane-golden

Remove okane-golden.
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  codecov.yaml
  core/Cargo.toml
  golden/CHANGELOG.md
  golden/Cargo.toml
  golden/README.md
  golden/src/lib.rs
  golden/testdata/mukai.txt
  golden/tests/test_golden.rs
Due: core, CLI, okane-golden

add Criterion.rs Benchmark (cargo) benchmark result for 878ab18291bea2fedaf151c2794fd2ba9f5b051d
  dev/bench/data.js
Due: none

Added payee into warning log of missing account.
  cli/src/import/extract.rs
Due: CLI

Upgrade dependencies.
  Cargo.lock
  Cargo.toml
  cli/Cargo.toml
  core/Cargo.toml
  core/src/parse/expr.rs
Due: core, CLI

add Criterion.rs Benchmark (cargo) benchmark result for c62e8b4a91fb51204a89eceb48cb5caa3e000273
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for c8956e469cafda86f46b9dc39049915677059fb3
  dev/bench/data.js
Due: none

Use load::FileSystem for loading price DB.
  core/src/load.rs
  core/src/report/book_keeping.rs
  core/src/report/price_db.rs
Due: core

Path conditions:
  core: any of: core/**
  CLI: any of: cli/**
  okane-golden: any of: golden/**
