Repository xkikeg/okane: changes, and which Codecov flags are due for each by the changed paths.
All: core, CLI, okane-golden

cli: split visible_window into fill_forward and fill_backward
  cli/src/ui/table.rs
Due: CLI

cli: move Screen out of register.rs into app.rs
  cli/src/ui/report.rs
  cli/src/ui/report/app.rs
  cli/src/ui/report/event.rs
  cli/src/ui/report/register.rs
  cli/src/ui/report/render.rs
Due: CLI

cli: clip table rows taller than the table body
  cli/src/ui/report/render.rs
  testdata/report/ui/many_commodities.balance-tree-all-folded.txt
  testdata/report/ui/many_commodities.register-subtree.txt
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for 15cff0a2c1cc29918117fe2d10f60d5395b19a84
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 20c025826e7e693d9bd10d54b620d1baa6ff34bf
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 9d05cf18cf3a25e3ec68ccba64dc5fc4335e9e22
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 3ec5a6403570095089a0461facbb9b2fc8e3cecc
  dev/bench/data.js
Due: none

cli: replace serde_yaml with ya
  CHANGELOG.md
  Cargo.lock
  cli/Cargo.toml
  cli/src/import/config.rs
  cli/src/import/extract/filter.rs
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for 5919c97e6764688c7c077fd93d6dd5d05e315d42
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 46cdafe7d0c8aae21db34db8ec603f6838d1d018
  dev/bench/data.js
Due: none

Allow duplicated column name, as long as it's not referenced.
  cli/src/import/csv/field.rs
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for c59a435e96ac4306b45cc4a235c36d0716998ce9
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for a3fde9ba21308be88db6c2702714641341acef9b
  dev/bench/data.js
Due: none

core: add report::tags to collect all tags in a ledger
  core/src/report.rs
  core/src/report/tags.rs
Due: core

cli: add tags command
  CHANGELOG.md
  README.md
  cli/src/cmd.rs
  cli/tests/test_tags.rs
  testdata/tags/basic.ledger
  testdata/tags/golden/basic.golden.tags.default.txt
  testdata/tags/golden/basic.golden.tags.values.txt
  testdata/tags/include/tagged.ledger
Due: CLI

Allow Metadata::Comment to be multi-line.
  core/src/syntax.rs
  core/src/syntax/display.rs
Due: core

add Criterion.rs Benchmark (cargo) benchmark result for 29ca304a020a36507e7d647e1890339aae74abed
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for f27424090f5d1bed0d636c945136628a922878a3
  dev/bench/data.js
Due: none

syntax: make LedgerEntry a struct carrying blank-line separation
  CHANGELOG.md
  CLAUDE.md
  cli/src/cmd.rs
  core/src/format.rs
  core/src/load.rs
  core/src/parse.rs
  core/src/parse/adaptor.rs
  core/src/report.rs
  core/src/report/process.rs
  core/src/report/tags.rs
  core/src/syntax.rs
  core/src/syntax/decoration.rs
  core/src/syntax/display.rs
  core/src/syntax/plain.rs
  core/src/syntax/tracked.rs
Due: core, CLI

add Criterion.rs Benchmark (cargo) benchmark result for 617b2278c5587d5b2bb5083c5093e4b25c21ce99
  dev/bench/data.js
Due: none

syntax: add ExprVisitor and rebuild report::eval::Evaluable on top of it
  core/src/report/eval.rs
  core/src/syntax/expr.rs
Due: core

add Criterion.rs Benchmark (cargo) benchmark result for 69850de8d54a56179cde681e5c6e0c05ec1a3f8d
  dev/bench/data.js
Due: none

syntax: port expression formatting onto ExprVisitor
  core/src/syntax/display.rs
Due: core

cli: add recursive `okane format` with --check
  CHANGELOG.md
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  README.md
  cli/Cargo.toml
  cli/src/cmd.rs
  cli/src/format.rs
  cli/src/main.rs
  cli/tests/test_format.rs
  core/src/format.rs
  core/src/load.rs
  core/src/syntax/display.rs
  doc/syntax.md
  testdata/format/golden/check.golden.diff.txt
  testdata/format/golden/main.ledger.golden.format.txt
  testdata/format/golden/main.ledger.golden.primitive-format.txt
  testdata/format/golden/sub_child.ledger.golden.format.txt
  testdata/format/golden/sub_commodities.ledger.golden.format.txt
  testdata/format/main.ledger
  testdata/format/sub/child.ledger
  testdata/format/sub/commodities.ledger
Due: core, CLI

add Criterion.rs Benchmark (cargo) benchmark result for 4a9d7feabd6d5b1762662ac3116e07c534051d09
  dev/bench/data.js
Due: none

Remove ConfigResolver and inline it into DisplayContext.
  cli/src/import.rs
  cli/src/import/config/output.rs
  cli/src/import/single_entry.rs
  cli/src/lib.rs
  core/src/lib.rs
  core/src/report/commodity.rs
  core/src/report/eval/amount.rs
  core/src/report/eval/single_amount.rs
  core/src/syntax/display.rs
  core/src/utility.rs
Due: core, CLI

add Criterion.rs Benchmark (cargo) benchmark result for fbe8c754977dedb9e7a5152435425becfcf9dbea
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for bcdd1b03b813d9a81eb467d64449e3448cee3eb4
  dev/bench/data.js
Due: none

bench: pin codegen-units in the bench profile
  Cargo.toml
Due: none

report: inline the small cross-module calls on the register hot loop
  core/src/report/eval.rs
  core/src/report/eval/amount.rs
  core/src/report/query.rs
  core/src/syntax/expr.rs
Due: core

Path conditions:
  core: any of: core/**
  CLI: any of: cli/**
  okane-golden: any of: golden/**
