Repository xkikeg/okane: changes, and which Codecov flags are due for each by the changed paths.
All: core, CLI, okane-golden

Corrected a cargo clippy warning.
  cli/src/import/config/format.rs
Due: CLI

Move okane.rs into main.rs.
  cli/Cargo.toml
  cli/src/bin/okane.rs
  cli/src/import/config.rs
  cli/src/import/error.rs
  cli/src/import/extract/filter.rs
  cli/src/lib.rs
  cli/src/main.rs
  cli/tests/test_balance.rs
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for 60579e62ff2d72bd1f52ecf1f88114e8df0dcce4
  dev/bench/data.js
Due: none

Added multi_commodity balance integration test.
  CHANGELOG.md
  cli/tests/test_balance.rs
  testdata/report/golden/multi_commodity.golden.balance.default.txt
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for 282737d93456455b9b7aa259708af063d84e3805
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 8fe8c2bc18db2490c7501d69c0d06d48d1b66cdd
  dev/bench/data.js
Due: none

Improved Amount printing on negative amount.
  core/src/report/eval/amount.rs
  testdata/report/golden/multi_commodity.golden.balance.default.txt
Due: core

add Criterion.rs Benchmark (cargo) benchmark result for 58ec666d9ffc5a5f82d85ed5576b59279c34cdd8
  dev/bench/data.js
Due: none

Fix Clippy warnings.
  core/src/report/eval/amount.rs
Due: core

Use OneBased for Field::ColumnIndex.
  Cargo.lock
  cli/Cargo.toml
  cli/src/import/config/format.rs
  cli/src/import/csv.rs
  cli/src/import/csv/field.rs
  cli/src/one_based_macro.rs
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for 972dbf2b92cdcd7127126feeee0ad087d7dbe7b8
  dev/bench/data.js
Due: none

Reordered Amount / SingleAmount / PostingAmount from_value(s)? args.
  cli/src/import/single_entry.rs
  core/src/report/balance.rs
  core/src/report/book_keeping.rs
  core/src/report/eval/amount.rs
  core/src/report/eval/evaluated.rs
  core/src/report/eval/posting_amount.rs
  core/src/report/eval/single_amount.rs
  core/src/report/price_db.rs
  core/src/report/query.rs
Due: core, CLI

add Criterion.rs Benchmark (cargo) benchmark result for 6b1975967d623c2028fbff73cbd6c1cbfd8af934
  dev/bench/data.js
Due: none

Refactored the ImportError.
  Cargo.lock
  cli/Cargo.toml
  cli/src/cmd.rs
  cli/src/import.rs
  cli/src/import/config.rs
  cli/src/import/config/commodity.rs
  cli/src/import/config/format.rs
  cli/src/import/config/merge.rs
  cli/src/import/csv.rs
  cli/src/import/csv/field.rs
  cli/src/import/csv/utility.rs
  cli/src/import/error.rs
  cli/src/import/extract.rs
  cli/src/import/extract/filter.rs
  cli/src/import/extract/testing.rs
  cli/src/import/iso_camt053.rs
  cli/src/import/iso_camt053/xmlnode.rs
  cli/src/import/single_entry.rs
  cli/src/import/template.rs
  cli/src/import/viseca.rs
  cli/src/import/viseca/format.rs
  cli/src/import/viseca/parser.rs
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for 979f952c35025f0a031309e417b9e6737f5a802e
  dev/bench/data.js
Due: none

Simplified Viseca LineReader interface.
  cli/src/import/error.rs
  cli/src/import/single_entry.rs
  cli/src/import/viseca.rs
  cli/src/import/viseca/line_reader.rs
  cli/src/import/viseca/parser.rs
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for a2ede08b40b7bff460dbe8189716a955a6bac7fc
  dev/bench/data.js
Due: none

Supported viseca transaction line with missing category.
  cli/src/import/viseca.rs
  cli/src/import/viseca/line_reader.rs
  cli/src/import/viseca/parser.rs
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for e171b2c7ed9217688aedf8ae551e6a560294a3b5
  dev/bench/data.js
Due: none

Added GitHub action to run cargo deny.
  .github/workflows/linter.yml
Due: none

Added Zlib as allowed license.
  deny.toml
Due: none

Corrected clippy warnings.
  cli/src/import/iso_camt053.rs
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for 432bfa0b8e664025d2fa0e1870cb619fb892c9f5
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 900594cd1721e26e422184253186c2f41796c707
  dev/bench/data.js
Due: none

Fixed Balance::get to accept Account, not &Account.
  core/src/report/balance.rs
Due: core

add Criterion.rs Benchmark (cargo) benchmark result for 58ef7925c8511e9332419bd9ab7fcf98f3857f3b
  dev/bench/data.js
Due: none

Added into_map / from_map to convert to/from HashMap.
  core/src/report/balance.rs
Due: core

Path conditions:
  core: any of: core/**
  CLI: any of: cli/**
  okane-golden: any of: golden/**
