Repository xkikeg/okane: changes, and which Codecov flags are due for each by the changed paths.
All: core, CLI, okane-golden

codecov.yaml:

comment:
  # add "condensed_" to "header", "files" and "footer"
  # layout: "condensed_header, condensed_files, condensed_footer"
  hide_project_coverage: false

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: crate_okane_core
      name: core
      paths:
        - core/**
    - component_id: crate_okane
      name: CLI
      paths:
        - cli/**
    - component_id: crate_okane_golden
      name: okane-golden
      paths:
        - golden/**

Added detailed error for BookKeepError::EvalFailure.
  core/Cargo.toml
  core/src/report/book_keeping.rs
  core/src/report/error.rs
  core/src/report/eval/error.rs
  testdata/error/complex_posting.ledger.error.txt
  testdata/error/divide_by_zero_rate.ledger.error.txt
  testdata/error/unmatching_op_rate.ledger.error.txt
Due: core

Use BTreeMap instead of HashMap for Amount.
  core/src/report/commodity.rs
  core/src/report/eval.rs
  core/src/report/eval/amount.rs
Due: core

add Criterion.rs Benchmark (cargo) benchmark result for c8b99f016ab3d1a2f1155c8a459f8fd15d2ffc91
  dev/bench/data.js
Due: none

Added error cases for invalid amount expressions.
  testdata/error/complex_posting.ledger
  testdata/error/complex_posting.ledger.error.txt
  testdata/error/divide_by_zero_rate.ledger
  testdata/error/divide_by_zero_rate.ledger.error.txt
  testdata/error/unmatching_op_rate.ledger
  testdata/error/unmatching_op_rate.ledger.error.txt
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 6d5135140bd2c19db3b6191160f0e859e1eca90a
  dev/bench/data.js
Due: none

Added a test case on balance assertion failure.
  testdata/error/balance_zero_multi_commodities.ledger
  testdata/error/balance_zero_multi_commodities.ledger.error.txt
Due: none

Gives detailed error message for balance assertion failure.
  core/src/report/balance.rs
  core/src/report/book_keeping.rs
  core/src/report/eval/amount.rs
  testdata/error/balance_zero_multi_commodities.ledger.error.txt
Due: core

add Criterion.rs Benchmark (cargo) benchmark result for 1439c88a5249aba5108e46bab7dd169680565abb
  dev/bench/data.js
Due: none

Recover logging on unspecified account import.
  cli/src/import/extract.rs
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for 6d8a72a4441fdf4b983d71e98ae68d17e7befc9e
  dev/bench/data.js
Due: none

Allow importing tsv file as well.
  cli/src/cmd.rs
  cli/src/import.rs
  cli/src/import/config.rs
  cli/src/import/config/commodity.rs
  cli/src/import/csv.rs
  cli/src/import/extract.rs
  cli/src/import/iso_camt053.rs
  cli/src/import/viseca.rs
  cli/tests/test_import.rs
  testdata/import/csv_multi_currency.tsv
  testdata/import/test_config.yml
Due: CLI

Added test case exercising CSV custom delimiter.
  testdata/import/csv_delimiter.csv
  testdata/import/csv_delimiter.ledger
  testdata/import/test_config.yml
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for abcf155c112a40e9501d5135d678077cdbc4e594
  dev/bench/data.js
Due: none

Corrected syntax documentation regarding metadata.
  doc/syntax.md
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 3fb9d5a4905c22e5ffffd940cfd69fef66363695
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for cba0ce38f6cb6d18f5d4579681bfaecc1c4887b6
  dev/bench/data.js
Due: none

Added `template: true` to allow declaring a config just a template.
  cli/src/import/config.rs
  testdata/import/test_config.yml
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for 370587923e27d55f0be87e6c75d72bb13d8c243c
  dev/bench/data.js
Due: none

Use String instead of &'static str for ImportError::InvalidConfig.
  cli/src/import/config.rs
  cli/src/import/csv/field.rs
  cli/src/import/error.rs
  cli/src/import/extract.rs
  cli/src/import/single_entry.rs
Due: CLI

Fixed tsv import.
  cli/src/import/csv.rs
  testdata/import/test_config.yml
Due: CLI

Allow specifying file_type in the config.
  cli/src/import.rs
  cli/src/import/config.rs
  cli/src/import/config/format.rs
  cli/src/import/csv.rs
  testdata/import/test_config.yml
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for aab8632a672c3316ba8fce188922e10330793909
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for c8dcd42b64e0ea9002b9c4a5a2ff5b8d189a7475
  dev/bench/data.js
Due: none

Added changelog since 0.17.0 release.
  CHANGELOG.md
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 2dc259ee00310caefe6f2ce24538b5f31bdf270a
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for a1fe7bba65411095ad0b0c775c64b0c5ebd32d68
  dev/bench/data.js
Due: none

Corrected a cargo clippy warning.
  cli/src/import/config/format.rs
Due: CLI
