Repository xkikeg/okane: changes, and which Codecov flags are due for each by the changed paths.
All: core, CLI, okane-golden

Balance non-balanced posting with Equity:Adjustments.
  cli/src/cmd.rs
  cli/src/import/amount.rs
  cli/src/import/single_entry.rs
  cli/tests/testdata/import/csv_multi_currency.ledger
  cli/tests/testdata/import/iso_camt.ledger
  core/src/report.rs
  core/src/report/commodity.rs
  core/src/report/context.rs
  core/src/syntax/display.rs
  core/src/utility.rs
Due: core, CLI

Add a test case to cover Equity:Adjustments requirement.
  cli/tests/testdata/import/csv_multi_currency.csv
  cli/tests/testdata/import/csv_multi_currency.ledger
Due: CLI

Extract used hardcoded account into constants.
  cli/src/import/single_entry.rs
Due: CLI

Added test case of the Comma 3 dot style.
  cli/tests/testdata/import/csv_multi_currency.ledger
  cli/tests/testdata/import/test_config.yml
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for 35f70eebbdcd2499f122533b5d6b9c1fd05a408d
  dev/bench/data.js
Due: none

Made InstdAmt and TxAmt in the AmtDtls optional.
  cli/src/import/iso_camt053.rs
  cli/src/import/iso_camt053/xmlnode.rs
  cli/src/import/single_entry.rs
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for 7a9ab5eed5f7cf821db72e9c92c01c608ae63e04
  dev/bench/data.js
Due: none

Factor out common logic constructing Txn from Fragment.
  cli/src/import/csv.rs
  cli/src/import/extract.rs
  cli/src/import/iso_camt053.rs
  cli/src/import/single_entry.rs
  cli/src/import/viseca.rs
Due: CLI

Remove library-level import integration test.
  cli/tests/test_import.rs
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for b569feb2100d85ea90c721fe9759f54635d64fe3
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for 1d7100fded5c43dc7a274249fbb960895f1a6bd9
  dev/bench/data.js
Due: none

Refactored Extractor API to construct with try_new().
  cli/src/import/csv.rs
  cli/src/import/extract.rs
  cli/src/import/iso_camt053.rs
  cli/src/import/viseca.rs
Due: CLI

Refactored Extractor filter into single type.
  Cargo.lock
  cli/Cargo.toml
  cli/src/import/config/rewrite.rs
  cli/src/import/csv.rs
  cli/src/import/csv/matcher.rs
  cli/src/import/csv/record.rs
  cli/src/import/extract.rs
  cli/src/import/extract/filter.rs
  cli/src/import/extract/testing.rs
  cli/src/import/iso_camt053.rs
  cli/src/import/iso_camt053/xmlnode.rs
  cli/src/import/viseca.rs
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for bfe0dfd458f707e3f87a8984becbe00b4ec12ab7
  dev/bench/data.js
Due: none

Added secondary_commodity to viseca and Camt053.
  cli/src/import/csv/field.rs
  cli/src/import/iso_camt053.rs
  cli/src/import/viseca.rs
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for f5672125263d1a7b53c6291f7cc13d5d8ff6a78a
  dev/bench/data.js
Due: none

Added simple viseca Entity test.
  cli/src/import/viseca.rs
  cli/src/import/viseca/format.rs
Due: CLI

Added Extractor::from_config to have boilerplate at one place.
  cli/src/import/csv.rs
  cli/src/import/extract.rs
  cli/src/import/iso_camt053.rs
  cli/src/import/viseca.rs
Due: CLI

Support Fragment provided secondary_commodity for matcher.
  cli/src/import/extract.rs
  cli/src/import/extract/filter.rs
Due: CLI

Move import testdata into repository root testdata dir.
  cli/src/import/iso_camt053/xmlnode.rs
  cli/tests/test_import.rs
  cli/tests/testing/mod.rs
  testdata/import/csv_multi_currency.csv
  testdata/import/csv_multi_currency.ledger
  testdata/import/csv_template.csv
  testdata/import/csv_template.ledger
  testdata/import/index_amount.csv
  testdata/import/index_amount.ledger
  testdata/import/iso_camt.ledger
  testdata/import/iso_camt.xml
  testdata/import/iso_camt_wise.xml
  testdata/import/label_credit_debit.csv
  testdata/import/label_credit_debit.ledger
  testdata/import/test_config.yml
  testdata/import/viseca.ledger
  testdata/import/viseca.txt
Due: CLI

Added Viseca entry so that we can check if reimburse is correct.
  cli/tests/test_import.rs
  testdata/import/viseca.ledger
  testdata/import/viseca.txt
Due: CLI

add Criterion.rs Benchmark (cargo) benchmark result for b95a0f230ac75a180ec1b28224faffa64cde09f7
  dev/bench/data.js
Due: none

add Criterion.rs Benchmark (cargo) benchmark result for f7dc39d4118fea94a08d8afc3b411e9164b1e816
  dev/bench/data.js
Due: none

Nits: fix README link to docs.rs.
  golden/README.md
Due: okane-golden

Remove okane_golden::read_as_utf8.
  core/tests/report_error.rs
  golden/src/lib.rs
  golden/tests/test_golden.rs
Due: core, okane-golden

add Criterion.rs Benchmark (cargo) benchmark result for 17cf60c516665c7421995e50223bfdacfcc67f76
  dev/bench/data.js
Due: none

Path conditions:
  core: any of: core/**
  CLI: any of: cli/**
  okane-golden: any of: golden/**
